/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
pre {
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.05) !important;
}

pre code {
    font-family: 'Fira Code', monospace !important;
}

.dark-theme {
    background-color: #0f172a;
    color: #f1f5f9;
}

.dark-theme .form-control {
    background-color: #2d2d2d !important;
    color: #ffffff;
}